<header class="sidebar-header">

    <div class="first">
        <div class="header-content">
            <a class="blog-title" href="{{@blog.url}}" title="{{@blog.title}}">
                {{@blog.title}}
                <span class="byline">{{@blog.description}}</span>
            </a>
            <!--<div class="social-icons">
				<a href="http://twitter.com/Staticmade" title="@StaticMade">&#x6b;</a>
				<a href="https://www.flickr.com/photos/jinscho/" title="Flickr">c</a>
				<a href="https://github.com/staticmade">n</a>
				<a href="http://feedpress.me/StaticMade" title="RSS Feed">&#x76;</a>
				
            </div>-->
        </div>
    </div>

    <div class="second">
        <a class="expander" title="Show menu">
        	<div class="expand"><span class="icon"></span>Menu</div>
        	<div class="collapse"><span class="icon collapse"></span>Collapse</div>
        </a>
		
        <ul class="main-menu">
                <li class="menu-item">
                    <a href="{{@blog.url}}">Journal</a>
                </li>
                <li class="menu-item">
                    <a href="/linked-list">Linked List</a>
                </li>
                <li class="menu-item">
                    <a href="/projects">Projects</a>
                </li>
                <li class="menu-item">
                    <a href="/about">Colophon</a>
                </li>
                <li class="menu-item">
                    <a href="/feeds">Feeds</a>
                </li>
            </ul>
    </div>

</header>