<!DOCTYPE html>
<html class="no-js">
    <head>
	    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    <title>{{meta_title}}</title>
	    <meta name="description" content="{{meta_description}}" />
	    <meta name="HandheldFriendly" content="True" />
	    <meta name="MobileOptimized" content="320" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    
	    <!-- FAVICON -->
	    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">
	    {{ghost_head}}
	    
	    <!-- STYLESHEETS -->
	    <link rel="stylesheet" type="text/css" href="/assets/css/style-4.css" />
	    
	    <!-- SCRIPTS -->
	    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript">
		  google.load("feeds", "1") //Load Google Ajax Feed API (version 1)
		</script>
	    
	    <script type='text/javascript'>//<![CDATA[
	    	var disqus = {
	    		'activate' : true,
	    		'shortname' : 'staticmadellc'
	    	};
	    //]]></script>
	    
	    <script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v1/st.js','_st');

  _st('install','Yj5AyDxTcrzwUh2vyMDr');
  </script>
  
    </head>
    <body class="{{body_class}}">
        <div class="site">

	    	{{{body}}}

	    </div>

	    {{ghost_foot}}

	    <script type='text/javascript' src='/assets/js/scripts.min.js'></script>
	    
	    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2901177-7']);
  _gaq.push(['_setDomainName', 'staticmade.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	    
	</body>
</html>