{{!< default}}
{{> header}}

	<section class="page-content primary" role="main">
		{{#foreach posts}}

			<!--<article id="post-{{id}}" class="post {{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">-->
			<article id="post-{{id}}" class="{{#if @even}}post-even {{post_class}}{{else}}post {{post_class}}{{/if}}" role="article" itemscope itemtype="http://schema.org/Article">
			    <!--{{content words = "0"}}-->

			    <!--<div class="content-wrapper">-->
			    <div class="{{#if @even}}content-wrapper-even{{else}}content-wrapper{{/if}}">
				    <h2 class="post-title">
						<a href="{{{url}}}" rel="bookmark">
				    		{{title}}
				    	</a>
				    </h2>

				    <!--<div class="post-meta">
						Posted on
						<span datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
							{{date format='MMMM Do, YYYY'}}
						</span>
					</div>-->

				    <div class="post-content" itemprop="articleBody">

						
							{{content}}
						
						
					</div>
				  
				</div>
					
			</article>
			  
		{{/foreach}}

	    {{#if pagination}}
			<div class="pagination" role="pagination">
				{{{pagination}}}
			</div>
	    {{/if}}

	    {{> footer}}
	</section>